table{ width : 300px; border : 1px solid black;}
tr, td{width : 150px; height : 150px; border : 1px solid black;}
img { width : 150px; height : 150px;}
#div1 {width:350px;height:70px;padding:10px;border:1px solid #aaaaaa;}
#div2 {width:350px;height:70px;padding:10px;border:1px solid #aaaaaa;}
#div3 {width:350px;height:70px;padding:10px;border:1px solid #aaaaaa;}
#div4 {width:350px;height:70px;padding:10px;border:1px solid #aaaaaa;}